:root {
  --color-bg: #16171d;
  --color-bg-alt: #21242d;
  --color-text: white;

  --color-success: #32ff7e;
  --color-warning: #feca57;
  --color-danger: #ff4d4d;
  --color-blue: #48dbfb;

  --color-disabled: #5f6b71;
  --color-blue-alt: #364659;

  --color-green: #8bffa7;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}
